@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital@1&display=swap');
body{
    font-family: 'Mochiy Pop One', sans-serif;

}
h1,h2,h3{
    color: white;

}
canvas{
    background-color: black;
    margin-left: 40%;

}